<a href="https://colab.research.google.com/github/meninblack110/average-height/blob/main/average_height_per_individual_olympian_per_year.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1)

In [3]:
filename = '/content/drive/My Drive/athleteEventsNoPersonal.csv'
df = pd.read_csv(filename)
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.shape

(40616, 12)

a) There are 40616 rows 

b) There are 12 columns

In [5]:
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

Age, Height, and Medal are 3 columns that has missing values in which Medal is the column has the most missing. I think it is the case because some athletes do not want to report their medals.

2)

a. How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?

In [6]:
len(df[(df['Sport']== "Tug-Of-War") & (df['Team']=="Sweden")])

6

b. How many Gold medals were awarded to athletes who were over 40 years old?

In [7]:
len(df[(df['Medal']== "Gold") & (df['Age']==40)])

10

3.Determine the average height of:

   a. All rows included.

In [8]:
df['Height'].mean()

175.3811165585956

b. All rows included, but grouped by Event.

In [9]:
df.groupby("Event")['Height'].mean()

Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64

c. Bonus:

In [10]:
one_per_athlete = df.drop_duplicates(subset = 'ID', keep = 'first')
one_per_athlete.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
6,6,31.0,188.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
14,12,31.0,172.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
15,30,26.0,189.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
17,36,21.0,194.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,NaN

In [11]:
one_per_athlete['Height'].mean()

176.31818479042698